<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>BYTE OPTIMIZERS</h2>
            <h4>atc@revx.io</h4>
        </div>
        <img src="/assets/man.jpg" alt="user" width="100" height="60">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">SSP scoreboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/performance">Campaign Performance</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/todo">To Do</a>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>