// * {
//     background-color: grey;
//     color: wheat;
// }

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-header-description {
    flex-grow: 0 !important;
}

.redd {
    background: #f8d1cf !important;
}

.greenn {
    background: #d8eab9 !important;
}
